.basicInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form{
    
    padding: 2rem 3rem;
    width: 100%;
}

.summery{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
.actionbtn {
    
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    width: 75%;
    font-weight: 600;
    font-size:large;
}

.actionbtn input{
    margin-left: 0.5rem;
}

.actionbtn label{
    margin-left: 0.3rem;
}

 button{
    background-color: aquamarine;
    width: 7rem;
    font-size: large;
    border-radius: 0.5rem;
}
